@tailwind base;
@tailwind components;
@tailwind utilities;

.read-only-field{
    background-color: #f9fafb;
    color: #1f2937;
    border: none;
    pointer-events: none;
    cursor: default;
}
/*changes text color of disabled fields that are not being styled by browser default*/
.read-only-field div {
    color: #BDBDBD;
}

.read-only-field label {
    color: #BDBDBD !important;
}