.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;  /* Fixed position for full-screen overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);  /* Semi-transparent black */
    z-index: 1000;  /* Ensure it's above other content */
}
  
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(255, 255, 255, 0.5);  /* Semi-transparent border */
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s ease infinite;
}

  
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
  